main {
  display: grid;
  position:relative;
  justify-items: center;
  margin-top: 0.5em;
  width:100%;
}
/* intro*/
section.intro--section--wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../assets/momo1.jpg);
  background-size: cover;
  background-position: center;
  /* height: 45rem; */
  max-height: 65vh;
  width: min(100%, 62.5rem);
  color: white;
  font-family: "Anton", sans-serif;
  padding:1em 0;
}
.intro--section--darken {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(0 0 0/0.3);
}
.intro--text1,
.intro--text2 {
  position: relative;
  background-clip: text;
  z-index: 10;
  padding-left: 10%;
}
.intro--text1 {
  position: relative;
  width: fit-content;
  background: linear-gradient(45deg, white 60%, red 60%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}
.intro--h2 {
  font-size: clamp(3em,calc(3em + 1vw),3.5em);
}
.intro--h3 {
  font-size: clamp(2.5em,calc(2.5em + 1vw),3em);
}
.intro--h1 {
  position: relative;
  width:fit-content;
  font-size: clamp(3.5em,calc(3.5em + 1vw),4em);
  color: red;
  letter-spacing: 0.08em;
  -webkit-text-stroke: 2px white;
}
.intro--h1::after {
  position: absolute;
  content: "";
  height: 0.2em;
  width: 100%;
  left: 0;
  bottom: 0em;
  background: white;
}
/*buttons*/
.button--section--wrapper{
    margin-top:1em;
    position:relative;
    display:flex;
    width:100%;
    flex-direction: row;
    justify-content: space-evenly;
}
.button--section{
    padding:1em 2rem;
    border-radius: 500px;
}