main {
  display: grid;
  position: relative;
  justify-items: center;
  width: 95%;
}
section.intro--section--wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../assets/momo1.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 62.5em;
  /* width: min(100%, 62.5rem); */
  color: white;
  font-family: "Anton", sans-serif;
  padding: 1em 0;
  margin-bottom: 1.5em;
}
.intro--section--darken {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(0 0 0/0.3);
}
.intro--text1,
.intro--text2 {
  position: relative;
  background-clip: text;
  z-index: 10;
  padding-left: 10%;
}
.intro--text1 {
  position: relative;
  width: fit-content;
  background: linear-gradient(45deg, white 60%, red 60%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}
.intro--h2 {
  font-size: clamp(2em, calc(2em + 1vw), 2.5em);
  white-space: nowrap;
}
.intro--h3 {
  font-size: clamp(1.5em, calc(1.5em + 1vw), 2em);
}
.intro--h1 {
  position: relative;
  width: fit-content;
  font-size: clamp(2.5em, calc(2.5em + 1vw), 3em);
  color: red;
  letter-spacing: 0.08em;
  -webkit-text-stroke: 2px white;
}
.intro--h1::after {
  position: absolute;
  content: "";
  height: 0.2em;
  width: 100%;
  left: 0;
  bottom: 0em;
  background: white;
}
/*buttons*/
.button--section--wrapper {
  width: 95%;
  position: relative;
  display: grid;
  place-items: center;
  height: 100%;
  scrollbar-width: none;
}
.buttons--wrapper {
  position: relative;
  display: flex;
  gap: 1em;
  width: 90%;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: scroll;
  border-radius: 500px;
  scrollbar-width: none;
}
.buttons--wrapper::-webkit-scrollbar {
  display: none;
}
.button--section--hover {
  position: absolute;
  right: 6%;
  top: 50%;
  transform-origin: center;
  width: 5%;
  aspect-ratio: 1;
  background: url(../assets/angle-left-solid.svg);
  background-size: contain;
}
@keyframes buttonHoverRight {
  from {
    right: 6%;
  }
  to {
    right: 4%;
  }
}
@keyframes buttonHoverLeft {
  from {
    left: -6%;
  }
  to {
    left: -4%;
  }
}
.button--right {
  right: 6%;
  transform: translate(100%, -50%) rotate(180deg);
  animation: buttonHoverRight 0.7s infinite alternate linear;
}
.button--left {
  transform: translate(100%, -50%);
  left: -6%;
  animation: buttonHoverLeft 0.7s infinite alternate linear;
}
.button--section {
  padding: 1em 2rem;
  border-radius: 500px;
  color: white;
  max-height: 3.5em;
  background: black;
  transition: 0.2s all ease-in-out;
  margin: 1em 0;
}
.button--section:hover {
  background: white;
  color: black;
  outline: 2px solid black;
  cursor: pointer;
}
.button--section p {
  font-size: var(--small-title);
}
.btn--fixed {
  position: fixed;
  top: 6em;
}
.btn--focus {
  background: var(--primary-red);
}
.side-line1 {
  display: none;
  position: fixed;
  height: 90vh;
  width: 0.2em;
  top: 50%;
  left: 10%;
  background: black;
  transform: translateY(-50%);
}
.side-line2 {
  display: none;
  position: fixed;
  height: 90vh;
  width: 0.2em;
  top: 50%;
  left: 90%;
  background: black;
  transform: translateY(-50%);
}
.button--sticky {
  position: fixed;
  top:0;
}
