nav{
    display:grid;
    z-index: 100;
    place-items:center;
    height:5em;
    max-height: 5em;
}
.nav--title{
    position:relative;
    display:grid;
    place-items:center;
    width:min(80%,25em);
    height:100%;
}
.nav--title img{
    width:100%;
    object-fit: cover;
    object-position: 50% 50%;
}
.nav--title::after{
    content:'';
    position: absolute;
    bottom:15%;
    background:var(--primary-black);
    height:0.075em;
    width:120%;


}