nav{
    display:grid;
    position: relative;
    top:0;
    left:0;
    width:100%;
    z-index: 100;
    place-items:center;
    height:5em;
    max-height: 5em;
    margin-bottom: 1em;
    overflow: hidden;
}
.nav--title{
    position:relative;
    display:grid;
    place-items:center;
    width:80%;
    max-width: 25em;
    height:100%;
}
.nav--title img{
    width:100%;
    object-fit: cover;
    object-position: 50% 50%;
}
.nav--title::after{
    content:'';
    position: absolute;
    bottom:15%;
    background:var(--primary-black);
    height:0.075em;
    width:120%;
}
.sticky{
    position:fixed;
    transition:0.1s all ease-out;
    background:linear-gradient(white 90%,rgb(179, 179, 179));
    animation:stick 0.1s linear;
}

@keyframes stick {
    0%{
        transform:translateY(5%);
    }
    50%{
        transform:translateY(-15%);
    }
    100%{
        transform:translateY(0%);
    }
}