@import url('https://fonts.googleapis.com/css2?family=Acme&family=Anton&family=Georama&family=Playfair+Display:wght@500&display=swap');
*,::before,::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* outline:1px solid rgb(0, 140, 255); */
}
:root{
    --mbl-text-normal:1rem;
    --mbl-text-h3:1.3rem;
    --mbl-text-h2:1.5rem;
    --mbl-text-h1:2rem;
    --title:clamp(2em,calc(2em + 1vw),2.5em);
    --small-title:clamp(1em, calc(1em + 1vw),1.2em);
    --medium-text:clamp(1.1em,calc(1.1em + 1vw),1.3em);
    --big-title:clamp(1.5em,calc(1.5em + 1vw),1.8em);
    --primary-black:rgb(0 0 0);
    --primary-red:rgb(211, 30, 30);
    --blue:#26479C;
}
body{
    display:grid;
    place-items: center;
    width:100%;
}
button{
    border:none;
}
/*
font-family: 'Acme', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Georama', sans-serif;
font-family: 'Playfair Display', serif;
*/